# Dependencias
node_modules/

# Builds
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.*
!.env.example

# Editores / sistema
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.local
